body {
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  flex-direction: row;
  height:100vh;
}
img{
  width:100%;
}
#map {
  width: 100%;
}
aside{
  display:none;
  margin:2em;
  width:0%;
}
.marker {
  opacity: 0;
  background-image: url('./images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  animation:appear 1s forwards;
  animation-delay: 3s;
  position:relative;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/*  Active States */
.active{
  display:block;
  width:30%;
}
.min-width{
  width:70%;
}

@keyframes appear {
  0%   {
    top:-15px;
   }
  100% {
    top:0;
    opacity: 1;
    }
}
